.highlight {
  color: #00c2ff
}

span.highlight {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1.2em
}
.lingxin-font {
  font-family: lingxin, 'Microsoft YaHei', 'YaHei WebFont', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal!important;
  font-style: italic
}
.btn-danger {
  border-color: #ff4900;
  background-color: rgba(255,73,0,.75);
  color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

a.glyphicon:before, .btn.glyphicon:before {
  margin-right: 6px;
  line-height: normal;
}

.glyphicon:before {
  position: relative;
  top: 2px;
}
.splitter {
  margin: 30px 0 50px;
  text-align: center
}

.splitter img {
  max-width: 100%
}

@media(max-width:992px) {
  .splitter {
    margin: 10px 0 15px
  }
}
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #fff
}

.banner .banner-img {
  width: 100%;
  min-height: 160px
}

.banner .banner-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15%
}

@media(max-width:768px) {
  .banner .banner-content h1 {
    font-size: 20px
  }
  .banner .banner-content p.lead {
    font-size: 12px
  }
}

.body-content {
  padding-left: 15px;
  padding-right: 15px
}