<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - 爱情时光馆</title>
</head>
<body class="home" data-spy="scroll" data-target=".navbar-collapse">
<%= require('html-loader!./layout/header.html') %>
<%= require('html-loader!./layout/loading.html') %>
<section id="home" class="section fullscreen">
    <div id="carousel-example-generic" class="carousel slide fullscreen" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item carousel-slider1 active">
                <div class="carousel-content"></div>
                <div class="carousel-caption">
                    <h1 class="lingxin-font highlight wow bounceIn" data-wow-delay="0.2s">SUCCESS</h1>
                    <h3 class="lingxin-font wow bounceInUp" data-wow-delay="0.5s">二哈是你的<span class="highlight">宠物</span>拆家助手！
                    </h3>
                    <p class="wow fadeIn" data-wow-delay="1s">Let Dog Show You the Way to Success</p>
                </div>
            </div>
            <div class="item carousel-slider2">
                <div class="carousel-content"></div>
                <div class="carousel-caption">
                    <h1 class="lingxin-font highlight wow bounceIn" data-wow-delay="0.2s">SPECIALTY</h1>
                    <h3 class="lingxin-font wow bounceInUp" data-wow-delay="0.5s">为您的恋爱提供<span
                            class="highlight">专业</span>技术支持!</h3>
                    <p class="wow fadeIn" data-wow-delay="1s">Provide professional technical support for your
                        project!</p>
                </div>
            </div>
            <div class="item carousel-slider3">
                <div class="carousel-content"></div>
                <div class="carousel-caption">
                    <h1 class="lingxin-font highlight wow bounceIn" data-wow-delay="0.2s">SOLUTION</h1>
                    <h3 class="lingxin-font wow bounceInUp" data-wow-delay="0.5s">我们知道如何<span
                            class="highlight">解决</span>您的问题!</h3>
                    <p class="wow fadeIn" data-wow-delay="1s">We know how to solve your problems!</p>
                </div>
            </div>
            <div class="item carousel-slider4">
                <div class="carousel-content"></div>
                <div class="carousel-caption">
                    <h1 class="lingxin-font highlight wow bounceIn" data-wow-delay="0.2s">FLOURISH</h1>
                    <h3 class="lingxin-font wow bounceInUp" data-wow-delay="0.5s">使您的爱情事业<span
                            class="highlight">蓬勃发展</span>!</h3>
                    <p class="wow fadeIn" data-wow-delay="1s">Make your business flourish forever!</p>
                </div>
            </div>
            <div class="item carousel-slider5">
                <div class="carousel-content"></div>
                <div class="carousel-caption">
                    <h1 class="lingxin-font highlight wow bounceIn" data-wow-delay="0.2s">LEARNING</h1>
                    <h3 class="lingxin-font wow bounceInUp" data-wow-delay="0.5s">我们也在不断学习,<span
                            class="highlight">与时俱进</span>!</h3>
                    <p class="wow fadeIn" data-wow-delay="1s">We are constantly learning, advancing with the times!</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <a href="#abouts" class="scroll-down toscroll hidden-xs">
        <span class="down-button scroll-button"></span>
        <span class="down-button scroll-button"></span>
    </a>
</section>
<section id="abouts" class="section fullscreen">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 text-center">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs wow bounceInRight" role="tablist">
                        <li role="presentation" class="active"><a href="#about1" aria-controls="about1" role="tab"
                                                                  data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#about2" aria-controls="about2" role="tab" data-toggle="tab">Profile</a>
                        </li>
                        <li role="presentation"><a href="#about3" aria-controls="about3" role="tab" data-toggle="tab">Messages</a>
                        </li>
                        <li role="presentation"><a href="#about4" aria-controls="about4" role="tab" data-toggle="tab">Settings</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content wow bounceInRight" data-wow-delay="0.2s">
                        <div role="tabpanel" class="tab-pane fade in active" id="about1">
                            <p>
                                　常常，熙熙攘攘的人群让我感到拥挤；车水马龙的街道让我觉得压抑；水泄不通的交通堵塞让我感到心急如焚，弯弯绕绕的马路巷口让我觉得迷茫，于是，我便减少了出门，减少了拥挤，只想一个人，清清静静的，端坐在属于自己的时光深处。</p>
                            <p>
                                如果可以，我愿意摆脱这样沉重的枷锁，远离世俗的喧嚣，驾一叶小舟，携一片绿叶，掮一朵白云，在水气氤氲的湖面漂浮；或驰一匹白驹，再宽阔无边的草原之上，在广袤无垠的蓝天之下，呼吸最清新的空气，抚摸最温柔的和风。</p>
                            <p>我喜欢自由的空气，喜欢一个人的清欢。或是看书，或是听歌，或是写作，或是发呆，无论做什么，都是好的，没有人打扰的。</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="about2">
                            <dl>
                                <dt class="h4 highlight">　是的，我不喜欢被打扰。</dt>
                                <dd>
                                    经常，一个人在家的时候，我连手机都会调成静音。实在担心有什么突发事情需要找我的时候，我会调成震动。我不喜欢自己正专注做一件事情的时候，被突然的声音打断，哪怕只是专注的冥想，也是需要一份内心的恬淡。
                                </dd>
                                <dt class="h4 highlight">一个人的时光，我把心事抖落在阳光下暴晒</dt>
                                <dd>细数那些珍藏的回忆，厘清那些呢喃的碎语。回想那些深情的眷恋，也回味那些难忘的美好。哪怕只是最简单的独白，也可以真实到让自己感动。不孤独，不寂寞，也不烦恼。</dd>
                                <dt class="h4 highlight">在一个人的时光里，不用担心内心的暴露</dt>
                                <dd>
                                    也不必顾虑旁人的感受，独守一隅，是一个人的静寂，更是一个人的精彩。静静坐着，默默听着，淡淡笑着，享受一个人的时光，感受内心的宁静。书香任我嗅，茶香任我品，须臾之间，仿佛全身心都得到了放松，每一个毛孔都舒展开来自由的呼吸。
                                </dd>
                            </dl>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="about3">
                            <dl>
                                <dt class="h4 highlight">望窗外，风是轻的</dt>
                                <dd>云是淡的，风摇枝秒，轻柔闲逸。伴着一曲纯净的轻音乐，轻读素日写下的文字，只想能够重新邂逅自己</dd>
                                <dt class="h4 highlight">把欲说还休的疲惫去掉</dt>
                                <dd>让心似琉璃，然后对着自己微笑，享受从心底渲染出来的一份惬意。陌上繁华，记忆如花，谁不有二三朵娉婷？</dd>
                                <dt class="h4 highlight">带着情绪的花</dt>
                                <dd>莫名的舒展开，高山流水，如诗如画，美到蚀骨，风吹过处，暗香盈袖。</dd>
                                <dt class="h4 highlight">最是一抹心事</dt>
                                <dd>甜到忧伤，那些过往的纠葛，百转的柔肠，写意着那些少不更事的青春萌动，刻画了儿女情怀的如痴如醉。</dd>
                            </dl>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="about4">
                            <dl>
                                <dt class="h4"><a href="/News/Details/c0be6a04-cf14-e611-9427-5cf3fce69a34"
                                                  target="_blank" class="text-info undecoration">光影如梭，转眼飞逝。曾经的一腔柔情，一场相遇，如今已是缘尽。</a>
                                </dt>
                                <dd>犹如一如烟花绽放后落下的薄凉，一场绚烂的开放，已是开至尽头的荼靡，一帘心绪，如风纷飞。如今，依稀俯拾的，只是片刻记忆。…</dd>
                                <dt class="h4"><a href="/News/Details/66ee805a-3ffb-e511-9425-5ef3fcde9a37"
                                                  target="_blank"
                                                  class="text-info undecoration">一个人的时光，思绪万千，偶尔路过那场往事</a></dt>
                                <dd>
                                    早已积聚了太多深沉，忍不住，驻足停留了片刻，想要重温一下心动的美好，奈何，纷扬如花的情牵，早已无人堪寄。那渐渐迷糊的身影，不过是一场风烟，呛的我洒落了一场梨花带雨。…
                                </dd>
                                <dt class="h4"><a href="/News/Details/8bb96166-79f5-e511-9424-5ef3fcde9a37"
                                                  target="_blank" class="text-info undecoration">于是，我酿跄的奔跑，狼狈的逃离…</a>
                                </dt>
                                <dd>转身，依旧回到一个人的清静时光。一个人的时候，将经年所有的心事，都讲述给自己听。…</dd>
                                <dt class="h4"><a href="/News/Details/133035b6-17f4-e511-9424-5ef3fcde9a37"
                                                  target="_blank" class="text-info undecoration">倘若往昔，因灵魂的不小心</a></dt>
                                <dd>惹了风月，也不过是围绕着你缠绕了一阵，而今，花落尽，尘埃已定，一切早已时过境迁。转身回眸间，唯愿时光，永如初见。…</dd>
                            </dl>
                            <div class="text-right"><a href="/News" target="_blank" class="text-info">更多 &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="robot"></div>
</section>
<section id="services" class="section fullscreen">
    <div class="container">
        <div class="section-content">
            <div class="section-title lingxin-font wow rubberBand">我们<span class="highlight"> 提供 </span>以下<span
                    class="highlight"> 服务 </span>供您选择
            </div>
            <div class="splitter">
                <div class="splitter-bg">
                    <img/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-king glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">最玄幻小说</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-file glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">个人文件</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-comment glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">微信公众平台</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-phone-alt glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">400私人电话</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-globe glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">个人网站</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-compressed glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">复旦大学</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-piggy-bank glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">小猪佩奇</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-blackboard glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">超级电脑</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码对外只需公布唯一的400号码</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="solutions" class="section fullscreen">
    <div class="container">
        <div class="section-content">
            <div class="section-title lingxin-font wow rubberBand">
                携<span class="hidden-xs">助</span>后台<span class="highlight"> 站在 </span>装逼、经营的<span
                    class="highlight"> 巅峰</span>！
            </div>
            <div class="splitter">
                <div class="splitter-bg">
                    <img/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 wow bounceInDown" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-send glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">最离奇剧情</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceInDown" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-plane glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">私人飞机</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceInDown" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-leaf glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">一叶障目泰山</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceInDown" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-object-align-vertical glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">万事俱备</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-globe glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">只欠东风</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-education glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">东华大学</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-apple glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">小羊肖恩</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码</a></p>
                    </div>
                </div>
                <div class="col-md-3 wow bounceInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <i class="glyphicon glyphicon-tent glyphicon-md highlight"></i>
                        <h3><a href="###" target="_blank">春风拂面</a></h3>
                        <p><a href="###">对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码,对外只需公布唯一的400号码对外只需公布唯一的400号码</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="clients" class="section fullscreen">
    <div class="container">
        <div class="section-content">
            <div class="section-title"></div>
            <div class="section-title lingxin-font wow rubberBand">因为有你而<span class="highlight"> 精彩</span>！</div>
            <div class="splitter">
                <div class="splitter-bg">
                    <img/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
                <div class="col-md-3 wow flipInY">
                    <div class="logo">
                        <img/>
                    </div>
                    <p class="highlight">想文案真累</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contacts" class="section fullscreen">
    <div class="container">
        <div class="section-content">
            <div class="section-title lingxin-font wow rubberBand">请与我<span class="highlight">保持联系</span></div>
            <div class="splitter">
                <div class="splitter-bg">
                    <img/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mb30 wow flipInX">
                    <p class="hidden-xs"><span class="glyphicon glyphicon-heart">&nbsp;</span>最爱情时光馆</p>
                    <p><span class="glyphicon glyphicon-map-marker">&nbsp;</span> <a
                            href="https://j.map.baidu.com/XX8eO" target="_blank" title="地图上找到我们">普陀区平高国际广场1701</a></p>
                    <p><span class="glyphicon glyphicon-earphone">&nbsp;</span> <a
                            href="tel:1234-3345441">1234-3345441</a>，<a href="tel:400-1234-521">400-1234-521</a></p>
                    <p class="mb20"><span class="glyphicon glyphicon-comment">&nbsp;</span>
                        QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=861252878&site=qq&menu=yes" target="_blank">861252878</a>；Email：support
                        <span class="segmdl2 segmdl2-twitter"></span> loveforever.net</p>
                    <a class="btn btn-lg btn-block btn-info mb15 glyphicon glyphicon-send" data-toggle="modal"
                       data-target="#myModal" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess">在线提交需求</a>
                    <a href="view/jobs.html" class="btn btn-lg btn-block btn-danger mb15 glyphicon glyphicon-edit">查找工作机会</a>
                </div>
                <div class="col-sm-4 col-xs-6 wow flipInX text-center">
                    <div class="logo"></div>
                    <p>官方微博 <a href="http://weibo.com/xxx" class="hidden-xs text-center" title="最爱情时光馆 官方微博"
                               target="_blank">@最爱情时光馆</a></p>
                </div>
                <div class="col-sm-4 col-xs-6 wow flipInX text-center">
                    <div class="logo"></div>
                    <p class="text-center">官方微信</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--modal-->
<div class="modal fade" id="myModal">

    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">告诉我们您的需求</h4>
            </div>
            <div class="modal-body">
                <h2 class="modalTitle hidden">告诉我们您的需求</h2>

                <form action="/" autocomplete="off"
                      role="form" novalidate="novalidate" id="form">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="UserName">姓名</label>
                            <div class="col-md-8">
                                <input class="form-control text-box single-line" id="UserName" name="UserName" placeholder="姓名" type="text" value="" onclick="this.focus()">
                                <div class="help-block">
                                    <span class="field-validation-valid text-danger"></span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="UserEmail">电子邮件</label>
                            <div class="col-md-8">
                                <input class="form-control text-box single-line"  id="UserEmail" name="UserEmail" placeholder="电子邮件"
                                       type="text" value="" onclick="this.focus()">
                                <div class="help-block"><span class="field-validation-valid text-danger"
                                                              data-valmsg-for="UserEmail"
                                                              data-valmsg-replace="true"></span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Content">想说的</label>
                            <div class="col-md-8">
                                <textarea class="form-control" cols="4"
                                          id="Content" name="Content" placeholder="告诉我们您的需求…" rows="5"  onclick="this.focus()"></textarea>
                                <div class="help-block"><span class="field-validation-valid text-danger"
                                                              data-valmsg-for="Content"
                                                              data-valmsg-replace="true"></span></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <button type="submit" class="btn btn-lg btn-info glyphicon glyphicon-send">提交需求</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display: none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
