.navbar-boss {
  &[data-nav="#home"]{
    //background-color: rgba(0, 0, 0, 0);
  }
  background-color: rgba(0, 0, 0, 0.4);
  border-width: 0;
  transition: all 0s;
  .container-fluid {
    position: relative;
  }
  .navbar-brand {
    height: auto;
    img {
      height: 50px;
      transition: all 0.8s;
    }
  }
  .navbar-right, .navbar-respond {
    margin-top: 32px;
    transition: all 0.8s;
  }
  .navbar-toggle {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 25px;
    margin-bottom: 0;
    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .navbar-respond, .navbar-right {
    li {
      a {
        color: #fff;
        position: relative;
        z-index: 2;
        font-size: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all .8s;
        .mr10{
          margin-right: 10px;
        }
      }
    }
  }
  .navbar-respond {
    li {
      position: relative;
      &.active > a, &.active > a:hover, &.active > a:active, &.active > a:focus {
        background-color: transparent;
        color: #00c2ff;
      }
      a{
        &:hover, &:active, &:focus {
          background-color: transparent;
          color: #00c2ff;
        }
      }
      &:after{
        content: '';
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffffff;
        transition: all 0.3s;
        opacity:0.3;
        transform: scale(0);
      }
      &.active:after{
        opacity: 0.14;
        transform: scale(1);
      }
      &:hover:after{
        opacity: 0.14;
        transform: scale(1);
      }
    }
  }
  .navbar-right{
    li a,
    li a:hover,li a:focus{
      font-weight: bold;
      color: #00c2ff;
      text-shadow: black 5px 3px 3px;
    }
  }
  .navbar-toggle{
    background-color: rgba(255,255,255,0);
    margin-top: 25px;
    margin-bottom: 0;
    &:hover,&:focus{
      background-color: rgba(255,255,255,0.2);
    }
    .icon-bar{
      background-color: #fff;
    }
  }
}

.navbar-boss-sm .navbar-brand img {
  height: 40px
}

.navbar-boss-sm .navbar-nav {
  margin-top: 24px
}

.navbar-boss-sm .navbar-nav>li>a {
  font-size: 14px
}

@media(min-width:998px) {
  .navbar-boss .navbar-header {
    position: relative;
    z-index: 2
  }
  .navbar-boss .navbar-collapse .navbar-respond {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    text-align: center
  }
  .navbar-boss .navbar-collapse ul.navbar-respond {
    float: none
  }
  .navbar-boss .navbar-collapse ul.navbar-respond li {
    display: inline-block;
    float: none
  }
}

@media(max-width: 790px)  {
  .navbar-boss .navbar-brand img,.navbar-boss-sm .navbar-brand img{
    height:40px;
  }
  .navbar-boss .navbar-nav{
    margin-top: 24px;
    li a{
      font-size: 14px;
    }
  }
}
.navbar-collapse a, a:hover, a:active, a:focus {
  color: #00c2ff;
  text-decoration: none;
}
.breadcrumb {
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  border-radius: 0;
  margin: 15px 0 30px
}

.breadcrumb li.active:first-child {
  font-weight: bold
}

.breadcrumb li.active+li:before {
  display: none
}