<nav class="navbar navbar-default navbar-boss navbar-fixed-top" role="navigation" data-nav="#home">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../../images/clients/honey_logo-250x50.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-respond">
                <li><a href="index.html#home">首页</a></li>
                <li><a href="#abouts">资讯</a></li>
                <li><a href="index.html#services">产品服务</a></li>
                <li><a href="index.html#solutions">方案</a></li>
                <li class="active"><a href="#jobs">招聘</a></li>
                <li><a href="index.html#contacts">联系</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="tel:18317715153" title="联系电话：18317715153"><span class="glyphicon glyphicon-earphone mr10"></span><i>183-1771-5153</i> </a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="banner">
    <img src="../../images/banner/banner-jobs.jpg" alt="jobs" class="banner-img" />
    <div class="banner-content">
        <div class="container">
            <h1 class="wow bounceInRight">给你一个<span class="highlight">平台</span>，重新认识世界！</h1>
            <p class="lead wow bounceInRight" data-wow-delay="0.5s">Give you a platform to re-understanding of the world!</p>
        </div>
    </div>
</section>